:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --color-title: #212121;
  --color-txt: #757575;
  --color-accent: #2196f3;
  --color-menu: #212121;
  --color-menu-contakt: #757575;
  --background-hero-footer: #2f303a;
  --bgr-team-button-portfolio: #f5f4fa;
  --stroke-card-portfolio: #eeeeee;
  --contact-footer: rgba(255, 255, 255, 0.6);
  --card-set-gap: 30px;
}

body {
  font-family: var(--main-font);
  font-style: normal;
  color: var(--color-txt);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

ul,
ol {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

img {
  display: block;
}
/* =====&&&&======= */
/* li {
  outline: 1px solid tomato;
} */

/* ======= COMPONENTS ======== */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* ==== navigation ==== */
.header-section {
  align-items: center;
  display: flex;
  padding-top: 0px;
  padding-bottom: 0px;
  justify-content: space-between;
}

header {
  border-bottom: 1px solid #ececec;
}

.nav {
  display: flex;
  align-items: center;
}
.logo {
  margin-right: 93px;
  font-family: var(--secondary-font);
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: left;
  color: #000000;
}
.logo-web {
  color: var(--color-accent);
}

.menu {
  display: flex;
}
.menu-list {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--color-menu);
}
.curent {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--color-accent);
}

/* .item-li + .item-li {
  margin-left: 50px;
} */
.item-li:not(:last-child) {
  margin-right: 50px;
}
.item-li {
  display: block;
}

.nav-adress {
  display: flex;
  margin-left: auto;
}
.mail-contact {
  margin-right: 50px;
}

.menu-contact {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--color-menu-contakt);
}

.menu-list:hover,
.menu-list:focus,
.menu-contact:hover,
.menu-contact:focus {
  color: var(--color-accent);
}

/* ===== hero ===== */
.hero {
  background: #c4c4c4;
  padding-right: auto;
  padding-left: auto;
  padding-top: 200px;
  padding-bottom: 200px;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/bg-hero.jpg);
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  align-items: center;
  margin: 0 auto;
}
.container-hero {
  text-align: center;
}
.hero-title {
  margin-bottom: 30px;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.hero-button {
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  cursor: pointer;
}

/* == section the best == */

.the-best {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
}
.the-best-list {
  flex-basis: calc((100% - 4 * var(--card-set-gap)) / 4);
  margin-left: var(--card-set-gap);
}

.the-best-txt {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
}

.the-best-title {
  margin-bottom: 10px;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--color-title);
}

/* ===== section we do ===== */
.section-we-do {
  padding-top: 0;
}
.we-do {
  display: flex;
  margin-left: -30px;
}
.we-do-li {
  margin-left: 30px;
}

.we-do-title,
.team-title {
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--color-title);
}

/* ===== section team =====  */

.section-team {
  background: var(--bgr-team-button-portfolio);
}

.team {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}
.team-list {
  margin-left: 30px;
  margin-top: 30px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-contant {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-txt {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  text-align: center;
  font-weight: 400;
  color: var(--color-txt);
}
.team-name {
  font-size: 16px;
  line-height: 1.9;
  font-weight: 500;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--color-title);
}

/* ===== portfolio ===== */

.portfolio-button-menu {
  display: flex;
  margin: 0 auto;
  margin-bottom: 50px;
  justify-content: center;
  text-align: center;
}

.portfolio-button {
  padding: 6px 22px;
  border-radius: 4px;

  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--color-title);
  background-color: var(--bgr-team-button-portfolio);
  border: none;
  cursor: pointer;
}
.portfolio-button:hover,
.portfolio-button:focus {
  padding: 6px 22px;

  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-align: center;
  color: #ffffff;
  background-color: var(--color-accent);
  border: none;
  border-radius: 4px;
}

.portfolio-button-li:not(:first-child) {
  margin-left: 8px;
}

/* portfolio card */

.portfolio-card-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.portfolio-card {
  background: #ffffff;
  flex-basis: calc((100% - 3 * var(--card-set-gap)) / 3);
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.portfolio-card-content {
  display: block;
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
.card-title {
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-title);
}

.card-txt {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

/* footer */
footer {
  background: var(--background-hero-footer);
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  margin-bottom: 20px;
}

.container > .logo {
  display: block;
  margin-bottom: 20;
}
.logo-studio {
  color: #ffffff;
}

.contact-list {
  display: block;
  margin-bottom: 9px;
}
.contact {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--contact-footer);
}

.contact-map {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  color: #ffffff;
}

.contact-map:hover,
.contact-map:focus,
.contact:hover,
.contact:focus {
  color: var(--color-accent);
}
